@import url("https://fonts.google.com/specimen/Overpass");

* {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.form {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  width: 335px;
  height: 340px;
  padding: 40px 38px;
  border-radius: 10%;
  margin: 10% 37%;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  margin-left: auto;
  margin-right: 90px;
  width: 50%;
}

.count {
  background-color: hsl(213, 19%, 18%);
  border-radius: 12px;
  width: 197px;
  height: 30px;
  margin: 35px 70px;
}

.count-num {
  padding: 6px 22px;
  color: hsl(25, 97%, 53%);
  font-size: 15px;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-align: center;
}

.paragraph {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  line-height: 22px;
  margin-top: 15px;
  text-align: center;
}

@media all and (max-width: 1440px) {
  .form {
    margin: 170px auto;
  }
}

@media all and (max-width: 440px) {
  .form {
    width: 300px;
    height: 310px;
  }
  img {
    margin-right: 80px;
  }
  .count {
    margin: 35px 50px;
  }
}

@media all and (max-width: 390px) {
  .form {
    width: 280px;
    height: 50%;
  }
  img {
    margin-right: 75px;
  }
  .count {
    margin: 35px 45px;
  }
}

@media all and (max-width: 376px) {
  .form {
    width: 70%;
  }
  img {
    margin-right: 70px;
  }
  .count {
    margin: 35px 35px;
  }
}
